<header id="header">
    <div id="navigation">
        <ul>
            <h2 id="title"><strong>WEATHER.com</strong></h2>
            <li><a href="./index.html"><strong>Início</strong></a></li>
            <li><a href="./about.html">Sobre</a></li>
            <li><a href="./contact.html">Contato</a></li>
        </ul>
    </div>
    <div id="user">
        <div id="enter">
            <a href="#entrar">Entrar</a>
        </div>
        <h3>ou</h3>
        <div id="cad">
            <a href="#cadastre-se">Cadastre-se</a>
        </div>
    </div>
</header>
